*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#c1121f,#e85d04,#ff9e00);
    color:#fff;
}

.container{
    width:90%;
    max-width:1100px;
    margin:auto;
    padding:40px;
}

.header{
    display:flex;
    align-items:center;
    gap:30px;
    margin-bottom:40px;
}

.profile{
    width:180px;
    height:180px;
    border-radius:50%;
    background:#ffffff;
    color:#c1121f;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:60px;
    font-weight:bold;
}

.info h1{
    font-size:45px;
}

.info h3{
    color:#ffe5b4;
    margin-top:10px;
}

.info p{
    margin-top:15px;
    line-height:28px;
}

section{
    margin-top:35px;
}

section h2{
    margin-bottom:15px;
    border-left:5px solid #fff;
    padding-left:12px;
}

.card{
    background:rgba(255,255,255,0.15);
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
    border:1px solid rgba(255,255,255,0.2);
    transition:0.2s;
}

.card:hover{
    background:rgba(255,255,255,0.22);
}

.skills{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:15px;
}

.skill{
    background:#ffffff;
    color:#c1121f;
    padding:12px;
    border-radius:8px;
    text-align:center;
    font-weight:600;
    transition:0.2s;
}

.skill:hover{
    background:#ffe5b4;
}
.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ป้องกันไม่ให้รูปเบี้ยวหรือผิดสัดส่วน */
    border-radius: 50%; /* ตัดรูปให้เป็นวงกลมเท่ากับกรอบ */
}